


.style-nav__link--curent {
    color: tomato;
}

.color-picker__option {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.title__link {
    display: inline-flex;
    margin-right: 40px;

}

.transaction-data {
border: 2px solid black;
}
